@import "variable";
@import "plyr";

@font-face {
  font-family: 'LatoVi';
  src: local('LatoVi'), url('../fonts/lato-vi-italic.woff2') format('woff2'),
    url('../fonts/lato-vi-italic.woff') format('woff'),
    url('../fonts/lato-vi-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'LatoVi';
  src: local('LatoVi'), url('../fonts/lato-vi-regular.woff2') format('woff2'),
    url('../fonts/lato-vi-regular.woff') format('woff'),
    url('../fonts/lato-vi-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'LatoVi';
  src: local('LatoVi'), url('../fonts/lato-vi-black.woff2') format('woff2'),
    url('../fonts/lato-vi-black.woff') format('woff'),
    url('../fonts/lato-vi-black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'LatoVi';
  src: local('LatoVi'), url('../fonts/lato-vi-bold.woff2') format('woff2'),
    url('../fonts/lato-vi-bold.woff') format('woff'),
    url('../fonts/lato-vi-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding :0;
  color: #333;
  font-family: 'LatoVi', sans-serif;
  font-size: 1rem;
}

.link{
  color: #f65e39;
  text-decoration: none;
  transition: .3s all;
  &:hover{
    color: #000;
  }
}

form{
  font-family: "LatoVi", sans-serif;
  .MuiInputLabel-outlined{
    color: rgba(51, 51, 51, 0.62);
    font-family: "LatoVi", sans-serif;
    &.Mui-focused{
      color: rgb(246, 100, 56);
    }
  }
  .MuiFormControl-root{
    margin-top: .5rem;
  }
  .MuiInputBase-root{
    color: #333;
    font-family: "LatoVi", sans-serif;
    margin-bottom: 1rem;
    .MuiOutlinedInput-notchedOutline{
      border-color: rgba(51, 51, 51, 0.27);
      border-radius: 50px;
    }
    .MuiInputBase-input{
      border-radius: 50px;
    }
    &:hover{
      fieldset{
        border-color: rgb(246, 100, 56) !important;
      }
    }
    &.Mui-focused{
      fieldset{
        border-color: rgb(246, 100, 56) !important;
      }
    }
  }
}
